#Horizon {
    @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
    @import './variables.scss';
    @import './button.scss';
    @import './colouring.scss';
    @import './authenticated.scss';
    @import './border.scss';
    @import "~bootstrap/scss/bootstrap";
    @import '~bootstrap-vue/src/index.scss';
    @import './overrides.scss';
    font-family: 'Rubik', sans-serif;
    .app {
        overflow-y: auto;
        .text-shadow-horizon-1 {
            text-shadow: 0px 1px #192830,0 2px #192830;
        }
    }
    .the-header {
        position: relative;
        &::after,&::before {
            content:'';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
        &::before {
            background: url($assets+ 'grid.png');
            opacity: 0.13;
            filter: brightness(0);
        }
        &:after {
            background: url($assets+ 'header.png');
            background-repeat: no-repeat;
            opacity: 0.9;
            background-position: top 165px center;
            transition: all 1.5s ease-in-out;
        }
        div {
            z-index: 1;
        }
    }
}
