$assets:'/skins/horizon/';
$horizon-1:#6AA5B5;
$horizon-2:#3C5F6C;
$horizon-3:#1C7293;

$horizon-gradient-1-colour-1:rgba(52,84,96,1);
$horizon-gradient-1-colour-2:rgba(32,53,65,1);

$horizon-gradient-2-colour-1:rgba(36,157,47,1);
$horizon-gradient-2-colour-2:rgba(30,135,44,1);